.footer{
    padding: 50px 0;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer p{
    max-width: 60vw;
    text-align: center;
}

.footer a {
    position: relative;
    text-decoration: none;
    color: #22C04B;
    font-weight: bold;

    transition: color 0.25s ease;
}

.footer a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #22C04B;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.footer a:hover {
    color: #1ea843;
}

.footer a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
